TG_ENV='development"

# Bot vitals
TG_API_KEY='12345:api_key'
TG_BOT_USERNAME='my_cool_bot'
TG_SECRET='super-secret'

# Bot extras
TG_WEBHOOK='{"url": "https://bot.com/manager.php"}'
TG_ADMINS='[123,456]'

# Database
TG_DB_HOST='localhost'
TG_DB_USER='root'
TG_DB_PASSWORD='root'
TG_DB_DATABASE='tgbot'

# Paths
TG_PATHS='{"download": "/var/www/tgbot/downloads","upload": "/var/www/tgbot/uploads"}'
